<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weibo index</title>
</head>
<body>
    <a href="/tweet/new">发微博</a>
    {% for w in weibos %}
    <p>{{ w.content }} from {{ user.username }} @
        {{ w.created_time }}
        <a href="/tweet/delete?id={{ w.id }}">删除</a>
        <a href="/tweet/edit?id={{ w.id }}">修改</a>
        <a href="/comment/new?tweet_id={{ w.id }}">发表评论</a>

        <div>
            {% for c in w.comments %}
            <div>
                <a href="/comment/delete?id={{c.id}}">删除评论</a>
                {{ c.id }} ： {{ c.content }} 来自 {{ c.user_id }}
            </div>
            {% endfor %}
        </div>
    </p>
    {% endfor %}
</body>
</html>